</tbody>
</table>
<h2>User info</h2>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>

<p>name <%= @user.name %></p>
<p>introduction　<%= @user.introduction %></p>

<% if @user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user), class:"btn btn-success" %></p>
<% end %>

<h2>New book</h2>
<% if @post_book.errors.any? %>
  <%= @post_book.errors.count %>error prohibited this book from being saved:
  <% @post_book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
 <% end %>
<!-- form_with部分 -->
<%= form_with model:@post_book, local:true do |f| %>

<h4>Title</h4>
<%= f.text_field :title %>

<h4>Opinion</h4>
<%= f.text_area :body %>

<br><%= f.submit 'Create Book' %></br>

<% end %>
<% provide(:title, 'Users') %>
<h1>Users</h1>

<table>
<thead>
<tr>
<th>Image</th>
<th>Name</th>
<th colspan="3"></th>
</tr>
</thead>

<tbody>
<ul class="users">  
<% @users.each do |user| %>
<tr>
<td>
<%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
</td>
<td>
<%= link_to user.name, user %>
</td>
<td>
</td>
<td>
<% end %>  
</ul>

</td>
</tr>
<footer>
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer> 