<p id="notice"><%= flash[:notice] %></p>

</tbody>
</table>
<h2>User info</h2>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>

<p>name <%= @user.name %></p>
<p>introduction</p>
<%= @user.introduction %>

<h2>New book</h2>
<% if @new_post_book.errors.any? %>
  <%= @new_post_book.errors.count %>error prohibited this book from being saved:
  <% @new_post_book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
 <% end %>
<!-- form_with部分 -->
<%= form_with model:@new_post_book, local:true do |f| %>

<h4>Title</h4>
<%= f.text_field :title %>

<h4>Opinion</h4>
<%= f.text_area :body %>

<br><%= f.submit 'Create Book' %></br>

<% end %>

<h1>Book detail</h1>

<table>
<thead>
<tr>
<th>Title</th>
<th>Opinion</th>
<th colspan="3"></th>
</tr>
</thead>

<tbody>
<tr>
<td>
<%= link_to user_path(current_user.id) do %>  
<%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
<%= @user.name %>
<% end %>
<%= @post_book.title %>
</td>
<td>
<%= @post_book.body %>
</td>
<td>
</td>
<td>
<% if @post_book.user == current_user %>

<%= link_to "Edit", edit_post_book_path(@post_book) %>
<%= link_to "Destroy", post_book_path(@post_book), method: :delete, "data-confirm" => "Are you sure?" %>
<% end %>

</td>
</tr>

<footer>
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer> 